<% if user_signed_in? %>
   <div class="col-xs-12 col-sm-6">
    <h1>
       <%= @deployment.name -%>
    </h1>
    <div>
       <%= @deployment.description -%>
    </div>

    <% @environments.order("name asc").each do |environment| %>
     <h2><%= environment.name -%></h1>
     <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Password</th>
      </tr>
 
      <% SecureContent.where(:environment_id => environment.id).order("name asc").each do |password| %>
      <tr>
        <td class="float"><%= password.name %></td>
        <td class="float">

                
        <%= form_for password, url: secure_content_update_path(), method: :post do |f| %>
        <%= f.text_field :content, class: "show_hide", type: "password", value: password.content %>
        <%= f.hidden_field :id %>
        <%= f.submit "Update", onClick: "setTimeout('location.reload(true);', 2000)", class: "btn btn-primary", style: "margin-left:20px;min-width:100px" %>
        <%= f.submit "Delete", onClick: "setTimeout('location.reload(true);', 2000)", class: "btn btn-danger", style: "min-width:100px"%>
        <% end %>    
       


        </td>
      </tr>
      <% end %>
   
    </table>

        <%= form_for environment, url: environment_update_path(), method: :post do |f| %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field "deployment", value: @deployment.name %>
        <%= f.submit "Generate new private key" %>
        <% end %>

  <% end %>    
 </div>
<% end %>


<%- content_for(:js) do -%>
  <%= javascript_include_tag "hideShowPassword.min" -%>
<%- end -%>

  <script>
    $('input.show_hide').hideShowPassword(false, true);
  </script>

<script>
setActive("Deployments")
</script>