<% if current_user.try(:admin?) %>
 <div class="col-xs-12">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Username</th>
        <th>Public Key</th>
        <th></th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.pub_key %></td>
        <td>

        <%= form_for user, url: users_update_path(), method: :post do |f| %>
        <%= f.hidden_field :email %><br />
        <%= f.submit "Generate new private key", onClick: "setTimeout('location.reload(true);', 5000)" %>
        <% end %>


        </td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>